<div class="row">
  <div class=col-md-4>
    
<%= image_tag @company.company_img.url(:company_show), class: "company-show" %>

  </div>
  
  <div class="col-md-8">
    <div class="company-info">
    <h2 class="company-name"><%= @company.name %></h2>
    <h5 class="avg-rating"><%= @company.location %> </h5>
    <h5>Industry: <%= @company.category.name %> </h5>
    <h5 class="avg-rating">Average Rating</h5>
    <div class="average-review-rating" data-score=<%= @average_review %>> </div>
    <span class="number-of-reviews">Based on <%= @company.reviews.count %> reviews. </span>
    <p class="company-description"><%= @company.description %> </p>
      </div>
  </div>

</div>

<div class="row">
  <div class="col-md-4">
   
    <div class="reviews">
    
    <h1>Reviews</h1>
    <%= render @company.reviews %>
    
  <div>
    <%= link_to "Add Review", new_company_review_path(@company), class: "btn btn-custom" %>
  </div>
      </div>
  
  </div>
</div>

<div class="link btn-group">
<%= link_to "Back", root_path, class: "btn btn-custom" %>

<% if user_signed_in? %>
<% if @company.user_id == current_user.id %>

<%= link_to "Edit", edit_company_path(@company), class: "btn btn-custom" %>
<%= link_to "Delete", company_path(@company), method: :delete, data:{ confirm: "Are you sure?"}, class: "btn btn-custom" %>

<% end %>
<% end %>
</div>

<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
 });
</script>

<script>
  $('.average-review-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
    return $(this).attr('data-score');
  }
  });
</script>