<!DOCTYPE html>
<html>
  <head>
    <title>Gated Communety</title>
    <%= csrf_meta_tags %>
<meta name="turbolinks-cache-control" content="no-cache">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    
    <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <%= link_to(image_tag("bg.png"), root_path) %>
      </div>
    <div class="navbar-header">
      <%= link_to raw('Gated Commu<span style="color:#bf922a">net</span>y'), root_path, class: "navbar-brand" %>
      </div>
   <ul class="nav navbar-nav">
     <li><%= link_to "How It Works?", abouts_index_path %></li>
     
     <% if user_signed_in? %>
     
     <li><%= link_to "Sign_out", destroy_user_session_path, method: :delete %></li>
     
     <% else %>
     
     <li><%= link_to "Sign Up", new_user_registration_path %></li>
     <li> <%= link_to "Log In", new_user_session_path %> </li>
     <% end %>
     
  </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-expanded="false"> Industry<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
          <% Category.all.each do |category| %>
            <li class="<%= 'active' if params[:category] == category.name %>">
            <%= link_to category.name, companies_path(category: category.name), class: "link" %>
            </li>
            <% end %>
          </ul>
        </li>
      <% if user_signed_in?%> 
        <li> <%= link_to "Add Company", new_company_path %> </li>
      <% end %>
      </ul>
      </div>
    </nav>
    
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <div class="container">
    <%= yield %>
      </div>

 
  </body>
</html>
